<!-- <div class="container-fluid"> -->
    <div class="proyectos">
    <div id="works">
        <h1>Proyectyos realizados</h1>
        <div class="row"> 
            <div class="contenedor">
                <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                    <h2 class="h2">Clima App</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Maxime itaque maiores officiis, dignissimos qui labore 
                        reprehenderit, veniam numquam perferendis rem, tempora 
                        sunt vero quis vel sed iusto pariatur. At, laboriosam.</p>
                </div>
                    <div clas="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
                        <img src="../../../assets/img/img.jpg" alt="" class="image-responsive  center-block img-proyecto" >
                    </div>
            </div>
        </div>

        <div class="row"> 
            <div class="contenedor">
                <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                    <h2>Otro App</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Maxime itaque maiores officiis, dignissimos qui labore 
                        reprehenderit, veniam numquam perferendis rem, tempora 
                        sunt vero quis vel sed iusto pariatur. At, laboriosam.</p>
                </div>
                    <div clas="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
                        <img src="../../../assets/img/img.jpg" alt="" class="image-responsive  center-block img-proyecto" >
                    </div>
            </div>
            
        </div>
    </div>
</div>
<!-- </div> -->


