<nav >
    <div id="navbarNav">
      <ul >
        <li>
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li >
          <a class="nav-link" href="#about-me">AbautMe</a>
        </li>
        <li >
          <a class="nav-link" href="#experience">Experience</a>
        </li>
        <li >
          <a class="nav-link" href="#formacion">Formación</a>
        </li>
        <li >
            <a class="nav-link" href="#skills">skills</a>
          </li>
          <li >
            <a class="nav-link" href="#works">Proyectos</a>
          </li>
          <li >
                <a class="nav-link" href="#">Login</a>
          </li>
      </ul>
    </div>
  </nav>