
<div class="container-fluid">
    <div>
        <div id="about-me">
            <h2>ABOUT ME</h2>
            <img src="../../../assets/img/DSC_2235.jpg" alt="" class="image-responsive img-circle img-thumbnail center-block">
            
            <h3>Victor Pinto</h3>
            <h4>Fullstack Developer</h4>
            
            <p class="about-text">Hola! Soy Victor! Desarrollador Fullstack, 

                Algunas palabras que me describen: Intuición, curiosidad, investigación, perseverancia, paciencia, resolución de problemas, adaptabilidad a los cambios, liderazgo, buena predisposición a las sugerencias, comunicación.
                
                En este momento me encuentro capacitándome activamente en programación, realizando varios cursos/bootcamp y proyectos.
                <br>
                Estoy habituado al trabajo en equipo, siempre con base en objetivos y metodologías ágiles. 

                En constante aprendizaje, interesado en superar obstáculos y nuevos desafíos, promoviendo el crecimiento tanto personal como profesional.
                <br>
                Gracias por leer! Un cordial saludo.              
            </p>
        </div>
    </div>
</div>

