<div class="row" id="skills">
  <h2 class="text-center">Hard & soft skills</h2>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="70"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#04a2d7'"
      [innerStrokeColor]="'#6eabbf'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress>
</div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="60"
      [radius]="70"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#04a2d7'"
      [innerStrokeColor]="'#6eabbf'"
      [animation]="true"
      [animationDuration]="600"
      [showTitle]="false"
      [showSubtitle]="false"
      [showUnits]="false"
      [imageSrc]="''"
      [imageHeight]="50"
      [imageWidth]="50"
    ></circle-progress>
</div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="90"
      [radius]="70"
      [showUnits]="false"
      [title]="'Java'"
      [subtitle]="''"
      [titleFontSize]="'2em'"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#04a2d7'"
      [innerStrokeColor]="'#6eabbf'"
      [animation]="true"
      [animationDuration]="800"
    ></circle-progress>
</div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="90"
      [radius]="70"
      [showUnits]="false"
      [title]="'Java'"
      [subtitle]="''"
      [titleFontSize]="'2em'"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#04a2d7'"
      [innerStrokeColor]="'#6eabbf'"
      [animation]="true"
      [animationDuration]="800"
    ></circle-progress>
</div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="90"
      [radius]="70"
      [showUnits]="false"
      [title]="'Java'"
      [subtitle]="''"
      [titleFontSize]="'2em'"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#04a2d7'"
      [innerStrokeColor]="'#6eabbf'"
      [animation]="true"
      [animationDuration]="800"
    ></circle-progress>
  </div>
  <div  class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="90"
      [radius]="70"
      [showUnits]="false"
      [title]="'Java'"
      [subtitle]="''"
      [titleFontSize]="'2em'"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#04a2d7'"
      [innerStrokeColor]="'#6eabbf'"
      [animation]="true"
      [animationDuration]="800"
    ></circle-progress>
  </div>
</div>
